.body {
    -fx-background-color: #ccc;
    -fx-padding: 20px;
}

.h-box-row {
    -fx-alignment: top-left;
    -fx-padding: 3px 10px;
}

.c-label{
    -fx-pref-width: 135px;
    -fx-padding: 5px 10px 5px 30px;
}

.t-label{
    -fx-padding: 5px 10px 5px 30px;
}

.c-field {
    -fx-pref-width: 238px;
    -fx-padding: 4px;
    -fx-background-insets: 0 10px 0 0;
}
.fieldname {
    -fx-pref-width: 513px;
    -fx-padding: 4px;
    -fx-background-insets: 0 10px 0 0;
}
.status-info {
    -fx-padding: 5px;
}